body {
	margin: 0;
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
}
#root {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}
header, footer {
	background-color: springgreen;
	padding: 30px;
}
main {
	width: 1000px;
	margin: 0 auto;
}
h1 {
	color: springgreen;
	text-shadow: 0 0 5px forestgreen, 0 0 20px skyblue;
}